langchain
langchain-core
langchain-community
pypdf
pymupdf
pdfplumber
pymupdf
openai
chromadb
langchain
langchain-openai
langchain-text-splitters
python-dotenv
streamlit
pillow
pytesseract
pdf2image
cohere 
groq==0.9.0